.movie-poster{
    margin:0px;
}

.movie-container{
    height: 440px;
    width: 250px;
    text-align: center;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
    padding-top: 5px;
}

.movie-list{
    margin: auto;
    margin-top: 30px;
}


td {
    padding: 5px; /* Optional cell padding */
}

.filter-row{
    text-align: left;
}

.sort-select{
    margin-left: 10px;
}

/*Zoom Effect*/
.movie-container {
    position: relative;
    overflow: hidden;
    transition: transform 0.2s; /* Add a smooth transition effect */
}

.movie-container:hover {
    transform: scale(1.04); /* Zoom in by 20% on hover */
}

.movie-poster {
    width: 95%;
    height: auto;
}

.movie-info {
    text-align: center;
}

a{
    text-decoration: none;
}

/*Filter Container*/
.filter-container {
    display: flex;
    align-items: center; /* Align items vertically in the center */
}

.theatre-select{
    margin-left: 30px;
}

/*Genre Drop Down*/
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
.dropdown {
position: relative;
display: inline-block;
}
  
.dropdown-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}
  
.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}
  
.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
