.wrapper {
    font-family: 'Lato', sans-serif;
    background: linear-gradient(rgba(0, 18, 50, 0.84), rgba(0, 0, 0, 0.95)),
        url("../public/background.jpg") bottom;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 18, 50);
    padding-top: 25px;
    min-height: 79.1vh;
}

.movie-poster{
    margin:0px;
}

.movie-container{
    height: 440px;
    width: 250px;
    text-align: center;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
    padding-top: 5px;
    background-color: white;
}

.movie-list{
    margin: auto;
    margin-top: 30px;
    margin-bottom: 0px;
}

td {
    padding: 5px; /* Optional cell padding */
}

.filter-row{
    text-align: left;
}

.sort-select{
    margin-left: 10px;
}

/*Zoom Effect*/
.movie-container {
    position: relative;
    overflow: hidden;
    transition: transform 0.2s; /* Add a smooth transition effect */
}

.movie-container:hover {
    transform: scale(1.04); /* Zoom in by 20% on hover */
}

.movie-poster {
    width: 95%;
    height: auto;
}

.movie-info {
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
}

/*Filter Container*/
.filter-container {
    display: flex;
    align-items: center; /* Align items vertically in the center */
}

.theatre-select{
    margin-left: 30px;
}

/*Genre Drop Down*/
.dropbtn-genre {
    /* background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none; */
    background-color: #007bff; /* Button background color */
    color: #fff; /* Text color */
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition for background 
    color */
    /* width: 100%; */
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
.dropdown-genre {
position: relative;
display: inline-block;
}
  
.dropdown-genre-content {
display: none;
position: absolute;
background-color: black;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}
  
.dropdown-genre-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}
  
.dropdown-genre-content a:hover {background-color: #ddd;}

.dropdown-genre:hover .dropdown-genre-content {display: block;}

.dropdown-genre:hover .dropbtn-genre {background-color: #0056b3;}

.button-margin{
    margin-left:30px;
}