.wrapper {
    font-family: 'Lato', sans-serif;
    background: linear-gradient(rgba(0, 18, 50, 0.84), rgba(0, 0, 0, 0.95)),
        url("../public/background.jpg") bottom;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 18, 50);
    padding-top: 25px;
    min-height: 83vh;
}

.movie-container{
    /* height: 80vh; */
    width: 60%;
    margin:auto;
    margin-top: 40px;
}

.movie-components{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.movie-info{
    /* background-color: #CEDEBD; */
    border-style: solid;
    border-color: whitesmoke;
    line-height: 1.5;
    padding: 20px;
    margin-left: 20px;
    /* height:460px; */
}

.movie-details{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.details-right{
    margin-left: 50px;
}

/* Style for the Book Now button */
.book-now-button {
    cursor: pointer;
    background-color: #007bff; /* Button background color */
    color: #fff; /* Text color */
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
    margin-bottom: 20px;
}

.book-now-button:hover{
    background-color: #0056b3;
}

/* Style for the Book Now div container */
.book-now-container {
    text-align: center; /* Center the button */
    margin-top: 20px; /* Add some spacing from the content above */
    text-align: right;
}

a{
    text-decoration: none;
}