@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
    text-align: center;
}

.background{
    font-family: 'Lato', sans-serif;
    background: linear-gradient(rgba(0, 18, 50, 0.84), rgba(0, 0, 0, 0.95)),
        url("../public/background.jpg") bottom;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 18, 50);
    height: 92vh;
}

button {
    background-color: #007bff; /* Button background color */
    color: #fff; /* Text color */
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition for background 
    color */
    width: 180px;
    margin-top: 20px;
}

/* Define the hover effect */
button:hover {
    background-color: #0056b3; /* New background color on hover */
}

.receipt {
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: 'Arial', sans-serif;
    text-align: center;
}

.header {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.description {
    font-weight: bold;
    color: #333;
    padding-left: 40px;
}

.detail {
    color: #009900;
    padding-right: 40px;
}

.qr-code{
    margin: 0px;
}
